# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Data files (too large for GitHub)
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Au cas ou
node_modules/
.env