# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Data files (too large for GitHub)
data/

# Jupyter checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Au cas ou
node_modules/
.env

data-science/models/distilbert/128_token_trained_distilbert/
data-science/models/distilbert/512_token_trained_distilbert/
